body {
  background-color: #252d4a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}

.App {
  background-color: #b25068;
  margin: auto;
  width: 40rem;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(63, 59, 59, 0.75);
  justify-content: space-evenly;
}

.score-block {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  align-items: center;
}

.try-btn {
  margin: 2rem auto;
  width: 95%;
  color: white;
  background-color: #774360;
  border: none;
}

.main-card {
  width: 100%;
  margin: auto;
}

.question-num {
  margin-bottom: 20px;
}

.question-num span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

.answer-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ans-btn {
  width: 97%;
  margin: 1%;
  font-size: 16px;
  color: #ffffff;
  background-color: #774360;
  border: none;
  display: flex;
  padding: 1rem;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 690px) {
  .App {
    width: 100%;
  }
  .ans-btn {
    width: 100%;
  }
}
